<footer class="footer">
  <div class="social-icons">
    <a href="https://www.facebook.com/yourpage" target="_blank"><i class="fab fa-facebook-f"></i></a>
    <a href="https://www.instagram.com/yourpage" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://twitter.com/yourpage" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.tiktok.com/@yourpage" target="_blank"><i class="fab fa-tiktok"></i></a>
    <a href="https://www.youtube.com/c/yourchannel" target="_blank"><i class="fab fa-youtube"></i></a>
  </div>
  <div class="copyright">
    &copy; Code Factory 2024
  </div>
</footer>